# node_modules
# Ignorar directorio de Git
.git
.gitignore

# Ignorar los archivos y carpetas del editor
.vscode/

# Ignorar archivos temporales y cachés
*.log
*.log.*

*.iml

# Ignorar dependencias locales
node_modules/

# Ignorar archivos de pruebas
test/
tests/
__tests__/
# Ignorar archivos de configuración
.env

# Ignorar archivos de log
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar carpetas de base de datos
*.sql
*.db
#  Ignorar archivos de configuración de la aplicación
logs_output/

# Credenciales de GCP
gcp-credentials.json
