# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos generados por compilación o pruebas
dist/
build/
coverage/

# Archivos temporales y cachés
*.log
*.log.*
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# Archivo de variables de entorno
.env
#
# Credenciales de GCP
gcp-credentials.json
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
#TDD Test DEV
test/
# Archivos del sistema operativo
.DS_Store
Thumbs.db